/* COMMON */

body {
    height: 3000px;
}

img {
    display: block;
}

/* HEADER */

header {
    width: 100%;
    height: 400px;
    background: #000;
    position: fixed;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 4s ease;
}

header img#logo {
    width: 300px;
    height: 300px;
    transition: 7s ease;
}